<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Available Packages <ion-icon name="cube"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  
  <ion-list>
      <ion-item *ngFor="let item of packageProvider.packages" (click)="viewPackage(item)"> 
          <ion-avatar item-start>
            <img src="assets/imgs/default.jpg"/>
          </ion-avatar>
          <span>
            <h2>{{ item.name }}</h2>
            <h3 style="font-weight:bold;"><span style="color:crimson;"> ₱{{ item.price | number:'1.2-2' }} </span></h3>    
          </span>

          <button ion-button small color="restaurant-color" item-end> Book </button>
          
      </ion-item>  
  </ion-list>
  
  <!-- 
  <ion-list *ngFor="let transaction of transactionProvider.transactions">
    <ion-list-header>{{ transaction.date | date:'longDate'}}</ion-list-header> 
    <ion-item *ngFor="let item of transaction.data"> 
      <ion-avatar item-start>
        <img src="assets/imgs/panda.png"/>
      </ion-avatar>
      <span (click)="viewTransaction(item)">
        <h2>{{ item.title }}</h2>
        <h3 style="font-weight:bold;">Total: <span style="color:crimson;"> ₱{{ item.total | number:'1.2-2' }} </span></h3>
        <ion-note item-end *ngIf="!checkIfDateIsPassed(item.due_date); else dueDate">
          <ion-badge>{{ item.status }}</ion-badge>
        </ion-note>

        <ng-template #dueDate>
          <ion-note item-end>
              <ion-badge color="danger">EXPIRED</ion-badge>
            </ion-note>
        </ng-template>
    
      </span>

      <div *ngIf="!checkIfDateIsPassed(item.due_date);">
          <button ion-button small color="secondary" item-end *ngIf="item.status == 'APPROVED' && !itinerary.isTrackingMode" (click)="startClick(item)"> Start </button>
          <ion-note item-end *ngIf="itinerary._currentItinerary != null && itinerary._currentItinerary.id == item.id">
            <ion-badge color="light-blue">ONGOING</ion-badge>
          </ion-note>
      </div>
    </ion-item>
  </ion-list>
  -->
</ion-content>
