<ion-tabs #tabs>
  <ion-tab [root]="tab1Root" tabIcon="home"></ion-tab>
  <!-- <ion-tab [root]="tab1Root" tabIcon="compass"></ion-tab> -->
  
  <ion-tab [root]="tab2Root" tabIcon="compass"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="list-box"></ion-tab>
</ion-tabs>