page-destinations {

    .attractions {

        .card {
            overflow: hidden;

            .card-header {
                width: 100%;
                height: 12rem;
                background-size: 100% auto;
            }    
        }
    }
}
