<ion-header>
    <ion-navbar color="secondary">
      <ion-title>
        Destinations <ion-icon name="compass"></ion-icon>
      </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="attractions common-bg">
  <div class="card round" margin-bottom *ngFor="let place of itemProvider._places">
    <div (click)="viewPlace(place)">
      <div class="card-header" [ngStyle]="{'background-image': 'url(' + place.thumb + ')'}"></div>
      <div class="padding-xs">
        <h3>{{ place.name }}</h3>
        <h5 ion-text color="secondary"> <ion-icon name="pin"></ion-icon> {{ place.municipality }}</h5>
        <p>{{ place.description }}</p>
        <span ion-text color="gray">Recommended for: <ion-badge color="favorite">{{ place.type }}</ion-badge> </span>
        <p><ion-badge color="danger">₱ {{ place.price | number: '1.2-2'}}</ion-badge></p>
      </div>
    </div>
    <div class="padding-xs">
      <button ion-button block large (click)="itemProvider.addToCart(place,'places')" *ngIf="!place.selected">SELECT</button>
      <button ion-button block large color="danger" outline (click)="itemProvider.cancelItemInCart(place,'places')" *ngIf="place.selected">CANCEL</button>
    </div>
  </div>
  
    <ion-fab right bottom>
      <button ion-fab color="secondary" (click)="showCars()"><ion-icon name="car"></ion-icon></button>
    </ion-fab>
  
</ion-content>

