<ion-header>
  <ion-navbar color="light-blue">
    <ion-title>Transactions <ion-icon name="list-box"></ion-icon> </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      resfreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <!-- 
  <div *ngIf="transactionProvider.transactions != null;else noTransaction">
    <ion-list *ngFor="let transaction of transactionProvider.transactions">
      <ion-list-header>{{ transaction.date | date:'longDate'}}</ion-list-header> 
      <ion-item *ngFor="let item of transaction.data"> 
        <ion-avatar item-start>
          <img src="assets/imgs/panda.png"/>
        </ion-avatar>
        <span (click)="viewTransaction(item)">
          <h2>{{ item.title }}</h2>
          <h3 style="font-weight:bold;">Total: <span style="color:crimson;"> ₱{{ item.total | number:'1.2-2' }} </span></h3>
          <ion-note item-end *ngIf="!checkIfDateIsPassed(item.due_date); else dueDate">
            <ion-badge>{{ item.status }}</ion-badge>
          </ion-note>

          <ng-template #dueDate>
            <ion-note item-end>
                <ion-badge color="danger">EXPIRED</ion-badge>
              </ion-note>
          </ng-template>
      
        </span>

        <div *ngIf="!checkIfDateIsPassed(item.due_date);">
            <button ion-button small color="secondary" item-end *ngIf="item.status == 'APPROVED' && !itinerary.isTrackingMode" (click)="startClick(item)"> Start </button>
            <ion-note item-end *ngIf="itinerary._currentItinerary != null && itinerary._currentItinerary.id == item.id">
              <ion-badge color="light-blue">ONGOING</ion-badge>
            </ion-note>
        </div>

      </ion-item>
    </ion-list>
  </div>
 
  <ng-template #noTransaction>
    <div>
      <h5>NO TRANSACTION RECORD</h5>
    </div>
  </ng-template>
   -->

   <div *ngIf="transactionProvider.transactions != null;else noTransaction">
    <ion-list *ngFor="let item of transactionProvider.transactions">
      <ion-item> 
        <span (click)="viewTransaction(item)">
          <ion-avatar item-start>
            {{ item.date }}
          </ion-avatar>
          
          <h2>{{ item.package.name }}</h2>
          <h3 style="font-weight:bold;">Total: <span style="color:crimson;"> ₱{{ item.total | number:'1.2-2' }} </span></h3>
          <h3 style="font-weight:bold;">{{ item.drop_off_time }}</h3>
        </span>
        <button ion-button small color="secondary" item-end *ngIf="item.status == 'APPROVED' && checkIfDateIsNow(item.date)" (click)="startClick(item)"> Start </button>
        <!-- <button ion-button small color="danger" item-end> Cancel </button> -->
        <ion-note>
          <ion-badge color="light-blue">{{ item.status }}</ion-badge>
        </ion-note>
      </ion-item>
    </ion-list>
  </div>

  <ng-template #noTransaction>
    <div>
      <h5>NO TRANSACTION RECORD</h5>
    </div>
  </ng-template>  
</ion-content>
