<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      Packages <ion-icon name="cube"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines *ngIf="packageProvider.packages != null;else nopackages;">
      <ion-list-header><h2> {{ convertDate( packageProvider.target_date ) }} </h2></ion-list-header>
    <ion-item *ngFor="let item of packageProvider.packages" (click)="viewPackage(item)"> 
        <ion-avatar item-start>
          <img src="assets/imgs/package.jpg"/>
        </ion-avatar>
        <span>
          <h2>{{ item.name }}</h2>
          <h3 style="font-weight:bold;"><span style="color:crimson;"> ₱{{ item.price | number:'1.2-2' }} </span></h3>    
        </span>
        <button ion-button small color="restaurant-color" item-end> Book </button>
    </ion-item>  
  </ion-list>

  <ng-template #nopackages>
    <ion-list>
      <ion-item class="bg-transparent" (click)="showDatePicker()">
        <img src="assets/imgs/37141.jpg" alt="placeholder">
        <!-- <img src="assets/imgs/icon-180x180.png" alt="placeholder" id="workmogie" item-start style="width:50px;height:50px;border-radius:100%;"> -->
        <p class="bold" style="text-align:center;font-size: 1.5rem;">Tap here to pick your booking date.</p>
      </ion-item>
    </ion-list>
  </ng-template>

  <ion-fab right bottom>
    <button ion-fab color="light-blue" (click)="showDatePicker()"><ion-icon name="calendar"></ion-icon></button>
  </ion-fab>  
</ion-content>
 