<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ car.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img [src]="car.picture" style="width:100%; height:250px;">

  <ion-list no-lines>
    <ion-item>
      <span class="bold">BRAND: </span>
      <ion-badge item-end>{{ car.brand }}</ion-badge>
    </ion-item>
    <ion-item>
      <span class="bold"> PLATE NUMBER: </span>
      <ion-badge item-end color="light-blue">{{ car.plate_number }}</ion-badge> 
    </ion-item>
    <ion-item>
      <span class="bold">SEATS: </span>
      <ion-badge item-end color="light-blue">{{ car.seat_count }} Seats</ion-badge>
    </ion-item>
    <ion-item>
      <span class="bold">DOORS: </span>
      <ion-badge item-end color="light-blue">{{ car.door_count }} Doors</ion-badge>
    </ion-item>
    <ion-item>
      <span class="bold">ENGINE TYPE:</span>
      <ion-badge item-end color="light-blue">{{ car.engine_type }}</ion-badge>
    </ion-item>
  </ion-list>

  <!-- <p>{{ car.description }}</p> -->

</ion-content>
