<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ item.title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <ion-item>
      <p ion-text item-start class="bold"> Date:</p>
      <ion-badge item-end color="hotel-color">{{ item.date | date:'longDate'}}</ion-badge>
    </ion-item>
    <ion-item>
      <p ion-text item-start class="bold"> CAR RENTED:</p>
      <ion-badge item-end color="hotel-color" *ngFor="let item of item.cars">{{ item.name }}</ion-badge>
    </ion-item>
    <ion-item>
      <p ion-text item-start class="bold"> Total Payment:</p>
      <ion-badge item-end color="danger">₱ {{ item.total | number:'1.2-2' }}</ion-badge>
    </ion-item>
    <ion-item>
      <p ion-text item-start class="bold"> TRANS #ID:</p>
      <ion-badge item-end color="pomegranate">{{ item.trncode }}</ion-badge>
    </ion-item>

    <ion-item-divider color="light-blue">DESTINATIONS</ion-item-divider>
    <button ion-item *ngFor="let item of item.places">
      <ion-avatar item-start>
        <img src="assets/imgs/default.jpg"/>
      </ion-avatar>
      <h2>{{ item.name }}</h2>
      <!-- <p>Address</p> -->
    </button>
  </ion-list>
</ion-content>
