<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      {{ package.name  }}<ion-icon name="cube"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content padding>
    <ion-list>
      <ion-list-header><h3>Places</h3></ion-list-header> 
      <ion-item *ngFor="let item of package_places"> 
        <ion-avatar item-start>
          <img [src]="item.thumb"/>
        </ion-avatar>
        <h2>{{ item.name }}</h2>
        <!-- <h3 style="font-weight:bold;">Total: <span style="color:crimson;"> ₱{{ item.total | number:'1.2-2' }} </span></h3> -->
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header><h3>Cars</h3></ion-list-header> 
      <ion-item *ngFor="let item of package_cars" (click)="showCarDetails(item)"> 
        <ion-avatar item-start>
          <img [src]="item.picture" style="width: 50px; height: 40px"/>
        </ion-avatar>
        <h2>{{ item.name }}</h2>
        <!-- <h3 style="font-weight:bold;">Total: <span style="color:crimson;"> ₱{{ item.total | number:'1.2-2' }} </span></h3> -->
      </ion-item>
    </ion-list>

    <h3 style="font-weight:bold;">Total: <span style="color:crimson;"> ₱{{ package.price | number:'1.2-2' }} </span></h3>

    <button ion-button color="primary" large block (click)="showBookNowModal()">
      <ion-icon name="bookmark"></ion-icon> &nbsp;&nbsp; BOOK NOW
    </button>
</ion-content>
