<ion-header>
    <ion-navbar color="primary">
      <ion-title>
        BOOK PACKAGE <ion-icon name="cube"></ion-icon>
      </ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>

  


</ion-content>
