<ion-header>
  <ion-navbar color="danger">
    <ion-title>Your Cart</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header color="attraction-color">
      <h3 class="list-header" item-start><ion-icon name="car"></ion-icon> Cars </h3>
    </ion-list-header> 

    <div *ngIf="itemProvider._cart.cars.length > 0; else noCars">
      <button ion-item *ngFor="let car of itemProvider._cart.cars"> 
        <ion-avatar item-start>
          <img [src]="car.picture"/>
        </ion-avatar>
        <h2 class="bolder">{{ car.name }}</h2>
        <h3 class="text-danger">₱ {{ car.price | number:'1.2-2' }}</h3>
        <button item-end ion-button clear icon-only (click)="itemProvider.cancelItemInCart(car, 'cars')">
          <ion-icon name="close"></ion-icon>
        </button>
      </button>
    </div>
    <ng-template #noCars>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/panda.png" alt="avatar">
        </ion-avatar>

        <p>Ooooopsss you did not select any car.</p>
      </ion-item>
    </ng-template>

  </ion-list>

  <ion-list>
    <ion-list-header color="secondary">
      <h3  class="list-header" item-start><ion-icon name="compass"></ion-icon> Destinations</h3>
    </ion-list-header>    
    
    <div *ngIf="itemProvider._cart.places.length > 0; else noPlaces">
      <button ion-item *ngFor="let place of itemProvider._cart.places"> 
        <ion-avatar item-start>
          <img [src]="place.thumb"/>
        </ion-avatar>
        <h2 class="bolder">{{ place.name }}</h2>
        <h3 class="text-danger">₱{{ place.price | number: '1.2-2' }}</h3>
        <button item-end ion-button clear icon-only (click)="itemProvider.cancelItemInCart(place, 'places')">
          <ion-icon name="close"></ion-icon>
        </button>
      </button>
    </div>
    <ng-template #noPlaces>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/panda.png" alt="avatar">
        </ion-avatar>
        <p>Ooooopsss you did not select any place.</p>
      </ion-item>
    </ng-template>
  </ion-list>
  <ion-list>
    <ion-item>
      <h3 style="font-weight: bold;font-size: 1.3em;">Total: <span class="text-danger"> ₱{{ itemProvider.getTotalPayment() | number: '1.2-2'}} </span></h3> 
    </ion-item>
  </ion-list>

  <div padding>
    <button ion-button block large *ngIf="itemProvider._cart.cars.length > 0 && itemProvider._cart.places.length > 0" (click)="showSaveAlert()"> CHECK OUT</button>
  </div>

</ion-content>
