page-home {
    .bg-transparent {
        background-color:transparent;
    }

    #workmogie {
        border-radius:100%;
        width:50px;
        height:50px;
    }

    #map-container {
        width: 100%;
        height: 100vh;
    }

    // #map {
    //     width: 100%;
    //     height: 100%;
    //   }
    .swiper-pagination-bullet {
        display: none;
    }
}
