<!-- 
  <ion-header>
    <ion-toolbar>
    <ion-segment [(ngModel)]="segmentContent" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="map">
          MAP <ion-icon name="map"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="itinerary">
        Itinerary <ion-icon name="document"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
 -->

<ion-content>
  <div #map id="map-container">
      <ion-list no-lines *ngIf="!itineraryProvider.isTrackingMode">
        <ion-item>
          <img src="assets/imgs/37141.jpg" alt="placeholder">
        </ion-item>
        <ion-item class="bg-transparent">
          <img src="assets/imgs/icon-180x180.png" alt="placeholder" id="workmogie" item-start>
          <p class="bold">Ooooopsss, You are not on tracking mode!</p>
        </ion-item>
      </ion-list> 
  </div>   
  
  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="showItineraryModal()"><ion-icon name="information"></ion-icon></button>
  </ion-fab>
  
</ion-content>
