<!--
  Generated template for the ItineraryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ itineraryProvider._currentItinerary.package.name }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="dismissModal()"> 
        <ion-icon name="close"></ion-icon>
      </button>   
    </ion-buttons>
  </ion-navbar>
</ion-header> 



<ion-content padding>
  <ion-slides pager #itinerarySlide id="itinerarySlide">
      <ion-slide> 
        <ion-list *ngIf="itineraryProvider._currentItinerary != null && itineraryProvider.isTrackingMode; else noItinerary;">
          <!-- 
            <ion-list-header>
              <h3 style="font-size:20px;" item-start>{{ itineraryProvider._currentItinerary.title }}</h3>
            </ion-list-header> 
          -->
          <button ion-item *ngFor="let item of itineraryProvider._currentItinerary.places"> 
            <ion-avatar item-start>
              <img src="assets/imgs/default.jpg"/>
            </ion-avatar>
            <h2>{{ item.name }}</h2>
            <!-- <p>Address</p> -->
            <!-- <ion-note item-end><ion-badge color="secondary" *ngIf="item.reached">REACHED</ion-badge></ion-note> -->
            <!-- <ion-note item-end><ion-badge color="danger" *ngIf="!itineraryProvider._currentItinerary.reached"></ion-badge></ion-note> -->
          </button>
        </ion-list>

        <ng-template #noItinerary>
          <p>No Target Itinerary</p>
        </ng-template>
    
        <ion-list *ngIf="itineraryProvider._finishedPlaceList.length > 0">
          <ion-list-header><h3 style="font-size:20px;" item-start>Finished Points</h3></ion-list-header>
          <button ion-item *ngFor="let item of itineraryProvider._finishedPlaceList"> 
              <ion-avatar item-start>
                <img src="assets/imgs/default.jpg"/>
              </ion-avatar>
              <h2>{{ item.name }}</h2>
              <ion-note item-end><ion-badge color="secondary" *ngIf="item.reached">REACHED</ion-badge></ion-note>
          </button>
        </ion-list>
        <!-- <button ion-button color="secondary" (click)="itineraryProvider.changeTargetLocation()">Click to finish top most</button> -->
        <button ion-button color="danger" (click)="finishItinerary()" *ngIf="itineraryProvider.isTrackingMode && itineraryProvider._currentItinerary.places.length == 0 && itineraryProvider._currentItinerary != null ">FINISH</button>
      </ion-slide>
    <ion-slide>
      <ion-list>
        <ion-list-header> 
          <h3 style="font-size:20px;" item-start>Your Recent Iteneraries</h3>
        </ion-list-header>     
        <button ion-item (click)="viewItinerary(item)" *ngFor="let item of itineraryProvider._itineraryLogs"> 
          <ion-avatar item-start>
            <img src="assets/imgs/panda.png"/>
          </ion-avatar>
          <h2>{{ item.title }}</h2>
          <p>{{ item.date | date:'longDate'}}</p>
          <p>{{ item.places.length }} Destinations</p>
          <ion-note item-end><ion-badge>FINISHED</ion-badge></ion-note>
        </button>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>
