<!--
  Generated template for the TransactionDetailsFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="light-blue">
    <ion-title>BOOK PACKAGE</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <form>
        <ion-list>
          <ion-item>
            <ion-label fixed>DROPOFF PLACE</ion-label>
            <ion-input type="text" [(ngModel)]="newTransaction.dropOffPlace" name="dropOffPlace"></ion-input>
          </ion-item>
      
          <div padding>
            <button ion-button color="primary" block (click)="saveTransaction()">BOOK NOW</button>
          </div>
    
        </ion-list>
    </form>
</ion-content> 
