<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ place.name | titlecase }} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="item-detail"> 
    <div class="item-header" [ngStyle]="{'background-image': 'url(' + place.thumb + ')'}">
      <div class="inner">
        <div class="align-bottom" padding>
          <h2 ion-text color="white">{{ place.name | titlecase}}</h2>
          <div>
            <span ion-text color="white"><ion-icon name="pin"></ion-icon> {{ place.municipality }}</span>
          </div>
        </div>
      </div>
    </div>

    <ion-grid class="buttons border-bottom">
      <ion-row>
        <ion-col text-center>
          <ion-icon name="ios-camera-outline" color="gray"></ion-icon>
          <span ion-text color="gray">POST CARD</span>
        </ion-col>
        <ion-col text-center>
          <ion-icon name="ios-bookmark-outline" color="gray"></ion-icon>
          <span ion-text color="gray">BOOKMARK</span>
        </ion-col>
        <ion-col text-center>
          <ion-icon name="md-share" color="gray"></ion-icon>
          <span ion-text color="gray">SHARE</span>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="border-bottom" padding>
      <div>{{ place.address }}</div>
      <div>
        <span class="text-sm" color="gray">Address</span>
      </div>
      <div margin-top>
        <span>{{ place.type }}</span>
      </div>
      <div>
        <span class="text-sm" color="gray">Destination Type</span>
      </div>
      <div margin-top>
        <p>{{place.description}}</p>
      </div>
    </div>

    <div padding>
      <h2 ion-text color="danger">₱{{ place.price | number: '1.2-2' }}</h2>
      <button ion-button block color="secondary" large (click)="itemProvider.addToCart(place,'places')" *ngIf="!place.selected">SELECT</button>
      <button ion-button block color="danger" large outline (click)="itemProvider.cancelItemInCart(place,'places')" *ngIf="place.selected">CANCEL</button>    
    </div>

</ion-content>
