<ion-header>
    <ion-navbar color="pomegranate">
      <ion-title>
        Cars <ion-icon name="car"></ion-icon>
      </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="common-bg">
  <ion-card *ngFor="let item of itemProvider._cars">
    <ion-card-header> 
      <ion-title> {{ item.name }} </ion-title> 
    </ion-card-header>
    
    <ion-card-content>
      <ion-grid>
        <ion-row (click)="openCarDetails(item)"> 
          <ion-col ion-col-6>
            <img [src]="item.picture" class="card-pic">
            <!-- <img-loader [src]="item.picture" class="card-pic" useImg (load)="onImageLoad($event)"></img-loader> -->
          </ion-col>
          <ion-col ion-col-6>
            <ion-list>
                <ion-item> 
                 <img src="assets/img/car-specs-icon/seat.png" alt="seat" item-start class="specs-icon">
                 <span class="text-bold"> {{ item.seat_count }} Seats </span>
                </ion-item>
                <ion-item> 
                  <img src="assets/img/car-specs-icon/car-door.png" alt="door" item-start class="specs-icon">
                  {{ item.door_count }} Doors
                </ion-item>
                <ion-item *ngIf="item.is_air_conditioned;">
                  <img src="assets/img/car-specs-icon/air-conditioning.png" alt="seat" item-start class="specs-icon"> 
                  Aircon
                </ion-item>
                <ion-item>
                  <ion-icon name="car" item-start></ion-icon> 
                  {{ item.engine_type | titlecase  }}
                </ion-item>
                <ion-item *ngIf="item.is_available;else notAvailable"> 
                  <ion-icon name="bookmark" item-start></ion-icon> 
                  Reserve Now!
                </ion-item>

                <ng-template id="notAvailable">
                  <ion-badge color="danger">NOT AVAILABLE</ion-badge>
                </ng-template>
              </ion-list>
          </ion-col>
        </ion-row>  
      </ion-grid> 
      
      <h1 class="text-danger" text-center>₱ {{ item.price | number:'1.2-2' }}</h1>
      <button ion-button block color="secondary" large (click)="itemProvider.addToCart(item,'cars')" *ngIf="!item.selected">SELECT</button> 
      <button ion-button block color="danger" large outline *ngIf="item.selected" (click)="itemProvider.cancelItemInCart(item,'cars')">CANCEl</button> 
    </ion-card-content>
  </ion-card>


  <!-- 
    <ion-fab right bottom>
      <button ion-fab color="danger" (click)="showCartModal()"><ion-icon name="cart"></ion-icon></button>
    </ion-fab> 
  -->
</ion-content>
