page-cars {

    .header-title {
        color: #ffffff;
        font-size: 1.5rem;
    }

    .text-light{
        color: #ffffff;
    }

    .text-danger {
        color:#c0392b;
    }

    .card-pic {
        width: 100%; 
        height: 100px;
    }

    .specs-icon {
        width: 25px;
        height: 25px;
    }

}
