<ion-header>
  <ion-navbar color="light-blue">
    <ion-title>{{ transaction.package.name }}</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <p *ngIf="transaction.status == 'PENDING'">Please go to ETRAVEL BICOL Main office for you to activate/approve this transaction.</p>
  <ion-list>
    <ion-item>
      <h3 style="font-weight: bold" item-start>TOTAL: </h3>
      <span item-end style="font-weight:bold; color:crimson;"> ₱ {{ transaction.total | number:'1.2-2' }}</span>
    </ion-item>

    <!-- 
      <ion-item>
        <h3 style="font-weight: bold">CARS: </h3>
        <p style="font-weight:bold;color:crimson" *ngFor="let car of transaction.cars">{{ car.name }} - ₱{{ car.price | number: '1.2-2'  }}</p>
      </ion-item>
      <ion-item>
          <h3 style="font-weight: bold">PLACES: </h3>
          <p style="font-weight:bold;color:crimson" *ngFor="let place of transaction.places">{{ place.name }} - ₱{{ place.price | number: '1.2-2'  }}</p>
      </ion-item>
     -->
    <ion-item>
        <h3 style="font-weight: bold">STATUS: </h3>
        <ion-badge color="light-blue">{{transaction.status}}</ion-badge>
    </ion-item>
    <ion-item>
      <h3 style="font-weight: bold">Date: </h3>
      <p style="font-weight:bold;color:crimson">{{ transaction.date }} - {{ transaction.due_date }}</p>
    </ion-item>
  </ion-list>

  <h3 style="font-weight: bold">TRANSACTION CODE: </h3>
  <div style="border:1px dashed gray"></div>
  <h1 style="font-weight:500;font-size: 2em;text-align: center;letter-spacing: 9px;">{{ transaction.trncode }}</h1>
  <div style="border:1px dashed gray"></div>
  <br>
  <button ion-button block color="danger" large (click)="cancelTransaction()" *ngIf="transaction.status != 'CANCELLED'"> Cancel </button>
</ion-content> 